*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent
}

@-ms-viewport {
    width: device-width
}

body {
    background: #ffffff;
    display: block;
    height: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

body.hide {
    display: none;
}

.overlay {
    height: 100%;
    width: 100%;
    display: block;
    position: fixed;
    z-index: 1045 !important;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 0.5s;
}

body.logged .overlay {
    display: none;
}

sidebar {
    position: fixed;
    background-color: #fff;
    transition: transform .3s ease-in-out;
    z-index: 1000;
    top: 0;
    overflow: auto;
    height: 100%;
    width: 100%;
    display: none;
    box-shadow: none
}

sidebar.sidebar--is-open.sidebar--left,
sidebar.sidebar--is-open.sidebar--right {
    transform: translateX(0)
}


/*sidebar.sidebar--is-open.sidebar--left {
        box-shadow: 4px 0 9px 0px rgba(0,0,0,0.2)
    }

    sidebar.sidebar--is-open.sidebar--right {
        box-shadow: -4px 0 9px 0px rgba(0,0,0,0.2)
    }*/

sidebar.sidebar--left {
    left: 0;
    transform: translateX(-100%);
    z-index: 1050;
}

sidebar.sidebar--right {
    right: 0;
    transform: translateX(100%);
    z-index: 1050;
}

.sidebar-bg {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 0;
    height: 0;
    background-color: black;
    opacity: 0;
    transition: opacity .2s linear, width 0s linear .2s, height 0s linear .2s
}

.sidebar-bg.sidebar-bg--is-visible {
    opacity: .5;
    width: 100%;
    height: 100%;
    z-index: 1049;
    transition: opacity .2s linear
}