.m-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.m-col-sm {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66666666666667%;
    flex: 0 0 16.66666666666667%;
    max-width: 16.66666666666667%;
}

.m-main {
    width: 100%;
    padding: 5px;
}

.m-wrap {
    background: #ffffff;
    padding: 4px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px 1px rgba(0,0,0,.1);
}

    .m-wrap > .m-body {
        position: relative;
        padding: 0;
        border: 0;
    }

        .m-wrap > .m-body > img {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            width: 100%;
            height: auto;
            min-height: 253px;
            max-height: 253px;
        }

        .m-wrap > .m-body > .m-top,
        .m-wrap > .m-body > .m-bottom {
            display: block;
            position: absolute;
            width: 100%;
            left: 0;
            padding: 0;
        }

        .m-wrap > .m-body > .m-top {
            top: 0;
            height: 100%;
            box-shadow: rgba(0, 0, 0, 1) 0 0 150px inset;
        }

        .m-wrap > .m-body > .m-bottom {
            bottom: 0;
            /*background: #fff;*/
        }

        /*.m-wrap > .m-body > .m-bottom:before {
                -webkit-transform: skewY(-10deg);
                -moz-transform: skewY(-10deg);
                -ms-transform: skewY(-10deg);
                -o-transform: skewY(-10deg);
                transform: skewY(-10deg);
                content: "";
                background: #fff;
                width: 100%;
                position: absolute;
                left: 0px;
                top: -20px;
                bottom: 7px;
            }*/

        .m-wrap > .m-body > .m-top > .m-title {
            color: #fff;
            text-align: center;
            font-size: 0.7125rem;
            padding-top: 4px;
        }

            .m-wrap > .m-body > .m-top > .m-title > .m-left,
            .m-wrap > .m-body > .m-top > .m-title > .m-right,
            .m-wrap > .m-body > .m-bottom > .m-user > .m-name,
            .m-wrap > .m-body > .m-bottom > .m-user > .m-time {
                display: inline-block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                position: relative;
            }

            .m-wrap > .m-body > .m-top > .m-title > .m-left {
                max-width: 75%;
            }

            .m-wrap > .m-body > .m-top > .m-title > .m-right {
                max-width: 25%;
            }

        .m-wrap > .m-body > .m-top > .m-vote {
            color: #fff;
            font-size: 0.7125rem;
            display: block;
            text-align: center;
            letter-spacing: 0.2px;
            padding-top: 4px;
        }

            .m-wrap > .m-body > .m-top > .m-vote > .m-up,
            .m-wrap > .m-body > .m-top > .m-vote > .m-down,
            .m-wrap > .m-body > .m-top > .m-vote > .m-view {
                display: inline-block;
                vertical-align: middle;
                max-width: calc((100% - 8px)/3);
            }


        .m-wrap > .m-body > .m-middle {
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            background: #fff;
        }


        .m-wrap > .m-body > .m-bottom > .m-user {
            color: #fff;
            padding-bottom: 4px;
            text-align: center;
        }

            .m-wrap > .m-body > .m-bottom > .m-user > .m-name,
            .m-wrap > .m-body > .m-bottom > .m-user > .m-time {
                vertical-align: middle;
            }

            .m-wrap > .m-body > .m-bottom > .m-user > .m-name {
                max-width: 65%;
                font-size: 0.7125rem;
            }

            .m-wrap > .m-body > .m-bottom > .m-user > .m-time {
                max-width: 35%;
                font-size: 0.4625rem;
            }



    .m-wrap > .m-foot {
        width: 100%;
        padding: 4px 0;
        height: 38px;
        display: block;
    }

        .m-wrap > .m-foot > a {
            color: #888;
            font-size: 0.6125rem;
            width: calc((100% - 8px)/3);
            text-align: center;
            cursor: pointer;
            display: inline-block;
            margin: 0;
            padding: 2px 0;
        }

            .m-wrap > .m-foot > a:hover,
            .m-wrap > .m-foot > a:active,
            .m-wrap > .m-foot > a:focus,
            .m-wrap > .m-foot > a:visited {
                color: #e91e63;
            }

                .m-wrap > .m-foot > a:hover > svg #test,
                .m-wrap > .m-foot > a:hover > svg #test,
                .m-wrap > .m-foot > a:hover > svg #test,
                .m-wrap > .m-foot > a:hover > svg #test {
                    fill: #e91e63;
                }

            .m-wrap > .m-foot > a > i {
                font-size: 0.8125rem;
                display: block;
            }

            .m-wrap > .m-foot > a > svg {
                display: block;
                margin: auto
            }

            /*@media only screen and (min-width : 1366px) {*/
            /*.col-movie-banner-medium {
        width: 25%;
    }

        .col-movie-banner-medium .img-responsive {
            width: 30%;
            min-height: 138px;
            max-height: 138px;
        }*/
            /*}*/
            /*	animate fadein	*/
            @keyframes fadein {
                from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
