.modal-open {
    overflow: hidden;
}

.modal {
    display: block;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1044;
    background: rgba(0, 0, 0, 0.35);
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.pop {
    position: relative;
    overflow: hidden;
    height: auto;
    bottom: 0;
    background: #fff;
    width: 100%;
    margin: 0 auto;
    margin-top: 5%;
}

@media (min-width: 576px) {
    .pop {
        max-width: 540px;
    }
    .pop-left p,
    .pop-right p {
        display: none;
    }
}

@media (min-width: 768px) {
    .pop {
        max-width: 720px;
    }
    .pop-left p,
    .pop-right p {
        display: block;
    }
}

.pop-left {
    float: left;
    color: #fff;
    width: 45%;
    bottom: 0px;
    background: #ff7c7c;
    padding: 8% 5%;
    height: 100%;
    min-height: 476px;
}

.pop-left h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 32px;
    margin-top: 0;
}

.pop-left p {
    font-family: 'Poppins', sans-serif;
}

.pop-left h4 {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 15px;
    border-top: 1px solid #c07882;
    padding-top: 15px;
}

.pop-left ul {
    padding-left: 0;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0px;
}

.pop-left ul li {
    margin-bottom: 7px;
}

.pop-left ul li a {
    display: block;
    color: #fff;
    background: #3F51B5;
    font-family: 'Quicksand', sans-serif;
    padding: 12px;
    border-radius: 3px;
    text-decoration: none;
}

.pop-left ul li:nth-child(1) a {
    background: #39579A;
}

.pop-left ul li:nth-child(2) a {
    background: #F24033;
}

.pop-left ul li:nth-child(3) a {
    background: #24A9E6;
}

.pop-left ul li a i {
    padding-right: 7px;
}

.pop-right {
    float: left;
    width: 55%;
    padding: 5%;
}

.pop-right h4 {
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 20px;
}

.pop-right p {
    color: #727070;
    margin: 0 0 10px;
    font-family: 'Poppins', sans-serif;
}

.pop-right a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
}

.pop-right form input {
    border: 1px solid #dfdfdf;
    padding: 8px;
    box-sizing: border-box;
    height: 32px;
    border-radius: 2px;
}

.pop-right form label {
    font-size: 14px !important;
    font-weight: 200;
    left: 15px;
    color: #727070;
    top: 14px;
}

.input-field {
    position: relative;
    margin-top: 10px;
}

.input-field input:not([type]),
.input-field input[type=text],
.input-field input[type=password],
.input-field input[type=email] {
    font-family: 'Poppins', sans-serif;
    color: #727070;
    border: 1px solid #dfdfdf;
    padding: 5px;
    font-size: 16px;
    box-sizing: border-box;
    height: 36px;
    border-radius: 2px;
    background-color: transparent;
    outline: none;
    width: 100%;
    box-shadow: none;
    transition: all 0.3s;
}

.checkbox-field p label {
    left: 1px;
    top: 10px;
    color: #727070;
}

.button-field {
    position: relative;
    margin-top: 20px;
}

.log-in-btn {
    background: #f4364f;
    color: #fff;
    padding: 2px 10px;
    font-weight: 600;
}

.waves-input-wrapper {
    border-radius: 0.2em;
    vertical-align: bottom;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    transition: .3s ease-out;
    font-size: 14px;
}

.waves-effect input[type="button"],
.waves-effect input[type="reset"],
.waves-effect input[type="submit"] {
    border: 0;
    font-style: normal;
    font-size: inherit;
    text-transform: inherit;
    background: none;
}

.waves-input-wrapper .waves-button-input {
    position: relative;
    color: #fff;
    top: 0;
    left: 0;
    z-index: 1;
    outline: none;
}

.pop-close {
    color: #333;
    width: 34px;
    height: 34px;
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 15px;
}

.pop-close svg {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
    opacity: 0;
}

[type="checkbox"]+label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

[type="checkbox"]+label:before,
[type="checkbox"]:not(.filled-in)+label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid #5a5a5a;
    border-radius: 1px;
    margin-top: 2px;
    transition: .2s;
}

[type="checkbox"]:not(.filled-in)+label:after {
    border: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="checkbox"]+label:before,
[type="checkbox"]:not(.filled-in)+label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid #5a5a5a;
    border-radius: 1px;
    margin-top: 2px;
    transition: .2s;
}

[type="checkbox"]:checked+label:before {
    top: -4px;
    left: -5px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #14addb;
    border-bottom: 2px solid #14addb;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}