.header {
    background-color: #141d27;
    background-image: url(../img/dark-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    text-align: center;
    min-height: 230px;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

body.logged .header {
    display: none;
}

.navbar1 {
    position: absolute;
    height: 50px;
    width: 100%;
    display: block;
    background: transparent;
    color: #fff;
    top: 0;
    z-index: 1046;
}

.navbar1>.m-section>ul {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
}

.navbar1>.m-section>ul.right {
    float: right;
}

.navbar1>.m-section>ul>li {
    float: left;
    position: relative;
    display: block;
    overflow: hidden;
}

.navbar1>.m-section>ul>li>a {
    display: block;
    color: inherit;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar1>.m-section>ul>li>a:hover:not(.active) {
    color: inherit;
}

.navbar1>.m-section>ul>li>a>span.menu-icon {
    display: block;
}

.navbar {
    position: absolute;
    height: 55px;
    width: 100%;
    display: block;
    background: transparent;
    color: #fff;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1047;
}

.navbar>.m-section>ul {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
}

.navbar>.m-section>ul.left {
    float: left;
}

.navbar>.m-section>ul.right {
    float: right;
}

.navbar>.m-section>ul>li {
    float: left;
    position: relative;
    display: block;
    overflow: hidden;
}


/*
.navbar>ul>li.check-status {
    display: none;
}
*/

body.logged .navbar>.m-section>ul>li.check-status {
    display: block;
}

.navbar>.m-section>ul>li>a {
    display: block;
    color: inherit;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
}

.navbar>.m-section>ul>li>a:hover:not(.active) {
    color: inherit;
}

.navbar>.m-section>ul>li>a>span.menu-icon {
    display: block;
    font-size: 14px;
}

body.logged .navbar,
.controls-fixed {
    position: fixed !important;
    bottom: unset;
    top: 0;
    width: 100%;
    border: none;
    border-top: 2px solid #333;
    background: #fff;
    color: #333;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    animation: fadein 0.2s;
    -moz-animation: fadein 0.2s;
    -webkit-animation: fadein 0.2s;
    -o-animation: fadein 0.2s;
}

.m-section {
    width: 100%;
    margin-right: auto;
    margin-left: auto
}

@media (min-width: 576px) {
    .m-section {
        max-width: 540px
    }
}

@media (min-width: 768px) {
    .m-section {
        max-width: 720px
    }
}

@media (min-width: 992px) {
    .m-section {
        max-width: 960px
    }
}

@media (min-width: 1200px) {
    .m-section {
        max-width: 1140px
    }
}

@media (min-width: 1280px) {
    .m-section {
        max-width: 1200px;
    }
}

@media (min-width: 1366px) {
    .m-section {
        max-width: 1200px;
    }
}

.navbar>.m-section,
.navbar1>.m-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

body.logged .m-section {
    margin-top: 90px;
}