
<div class="m-row" scroll-to-end="scroll" bind-to-window="true">
    <div ng-show="loading" class="loader-container"><div class="loader"></div></div>
    <div class="{{view}}" ng-repeat="movie in posts | orderBy:'-createdDate' | filter:search  | limitTo: paginationLimit()" ng-if="movie.movieInfo.poster_path" ng-if="movie.movieInfo.title">
        <div class="m-main">
            <div class="m-wrap">
                <div class="m-body">
                    <img ng-src="https://image.tmdb.org/t/p/w500/{{movie.movieInfo.poster_path}}" />
                    <div class="m-top">
                        <div class="m-title">
                            <span class="m-left">{{movie.movieInfo.title}}&nbsp;</span>
                            <span class="m-right">&starf;&nbsp;{{movie.movieInfo.vote_average}}</span>
                        </div>
                        <div class="m-vote" ng-if="movie.upCount!=0 || movie.downCount!=0 || movie.viewCount!=0">
                            <span class="m-up" ng-if="movie.upCount!=0">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" width="14" height="14" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M23 9.998a2 2 0 0 0-2-2h-6.316l.954-4.569a1.492 1.492 0 0 0-.407-1.376L14.171.998 7.585 7.584A1.994 1.994 0 0 0 7 8.998v10a2 2 0 0 0 2 2h9a2 2 0 0 0 1.842-1.22l3.017-7.053c.088-.225.141-.47.141-.727v-2zm-22 11h4v-12H1v12z" fill="#fff" /><rect x="0" y="0" width="14" height="14" fill="rgba(0, 0, 0, 0)" /></svg>
                                <span style="padding:3px;">{{movie.upCount | rounded}}</span>
                            </span>
                            <span class="m-down" ng-if="movie.downCount!=0">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" width="14" height="14" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M19 14.998h4v-12h-4m-4 0H6a2 2 0 0 0-1.843 1.22L1.14 11.271c-.088.225-.14.47-.14.727v2a2 2 0 0 0 2 2h6.314l-.954 4.569a1.491 1.491 0 0 0 .407 1.376l1.06 1.055 6.586-6.586c.362-.362.586-.862.586-1.414v-10a2 2 0 0 0-2-2z" fill="#fff" /><rect x="0" y="0" width="14" height="14" fill="rgba(0, 0, 0, 0)" /></svg>
                                <span style="padding:3px;">{{movie.downCount | rounded}}</span>
                            </span>
                            <span class="m-view" ng-if="movie.viewCount!=0">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" width="14" height="14" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="#fff" d="M12 8.998a3 3 0 1 0-.001 6 3 3 0 0 0 0-6zm0 8a5 5 0 1 1 0-10.001 5 5 0 0 1 0 10.001zm0-12.5c-5.003 0-9.273 3.111-11 7.5 1.727 4.39 5.997 7.5 11 7.5 5.002 0 9.271-3.11 11-7.5-1.729-4.389-5.998-7.5-11-7.5z" /><rect x="0" y="0" width="14" height="14" fill="rgba(0, 0, 0, 0)" /></svg>
                                <span style="padding:3px;">{{movie.viewCount | rounded}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="m-middle">
                    </div>
                    <div class="m-bottom">
                        <div class="m-user">
                            <span class="m-name" data-test="/movesolo/#!{{movie.userId}}">{{movie.userName}}</span>
                            <span class="m-time" title="{{ movie.createdDate  }}">&nbsp;.&nbsp;{{ movie.createdDate | timeago }}</span>
                        </div>
                    </div>
                </div>
                <div class="m-foot">
                    <a ng-click="count(movie.$id,'up')">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" width="18" height="18" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M5 9v12H1V9h4zm4 12a2 2 0 0 1-2-2V9c0-.552.224-1.052.586-1.414L14.172 1l1.06 1.055c.272.271.44.646.44 1.06l-.033.316L14.685 8H21a2 2 0 0 1 2 2v2c0 .257-.053.502-.141.727l-3.017 7.053A2 2 0 0 1 18 21H9zm0-2.002h9.026l2.973-7.006V9.998h-8.784l1.13-5.317-4.346 4.345v9.972z" fill="#888" id="test" /><rect x="0" y="0" width="18" height="18" fill="rgba(0, 0, 0, 0)" /></svg>
                        <!--<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" width="18" height="18" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M23 9.998a2 2 0 0 0-2-2h-6.316l.954-4.569a1.492 1.492 0 0 0-.407-1.376L14.171.998 7.585 7.584A1.994 1.994 0 0 0 7 8.998v10a2 2 0 0 0 2 2h9a2 2 0 0 0 1.842-1.22l3.017-7.053c.088-.225.141-.47.141-.727v-2zm-22 11h4v-12H1v12z" fill="#626262" /><rect x="0" y="0" width="18" height="18" fill="rgba(0, 0, 0, 0)" /></svg>-->
                        Active
                    </a>
                    <a ng-click="count(movie.$id,'down')">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" width="18" height="18" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M19 14.998v-12h4v12h-4zm-4-12a2 2 0 0 1 2 2v10c0 .552-.225 1.052-.587 1.414l-6.586 6.586-1.06-1.055a1.491 1.491 0 0 1-.44-1.06l.033-.316.954-4.569H3a2 2 0 0 1-2-2v-2c0-.257.053-.502.141-.727l3.017-7.053A2 2 0 0 1 6 2.998h9zM15 5H5.974L3 12.006V14h8.785l-1.13 5.317L15 14.972V5z" fill="#888" id="test" /><rect x="0" y="0" width="18" height="18" fill="rgba(0, 0, 0, 0)" /></svg>
                        <!--<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" width="24" height="24" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M19 14.998h4v-12h-4m-4 0H6a2 2 0 0 0-1.843 1.22L1.14 11.271c-.088.225-.14.47-.14.727v2a2 2 0 0 0 2 2h6.314l-.954 4.569a1.491 1.491 0 0 0 .407 1.376l1.06 1.055 6.586-6.586c.362-.362.586-.862.586-1.414v-10a2 2 0 0 0-2-2z" fill="#626262" /><rect x="0" y="0" width="24" height="24" fill="rgba(0, 0, 0, 0)" /></svg>-->
                        Broken
                    </a>
                    <a ng-click="count(movie.$id,'view')">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" width="18" height="18" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M12 20c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8zm0-18C6.477 2 2 6.477 2 12s4.477 10 10 10 10-4.477 10-10S17.523 2 12 2zm-2 14.5l6-4.5-6-4.5v9z" fill="#888" id="test" /><rect x="0" y="0" width="18" height="18" fill="rgba(0, 0, 0, 0)" /></svg>
                        <!--<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" width="18" height="18" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M10 16.5v-9l6 4.5M12 2C6.477 2 2 6.477 2 12s4.477 10 10 10 10-4.477 10-10S17.523 2 12 2z" fill="#626262"/><rect x="0" y="0" width="18" height="18" fill="rgba(0, 0, 0, 0)" /></svg>-->
                        Watch

                        <!--<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" width="18" height="18" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M5 19.998h14v-2H5m14-9h-4v-6H9v6H5l7 7 7-7z" fill="#888" id="test" /><rect x="0" y="0" width="18" height="18" fill="rgba(0, 0, 0, 0)" /></svg>
                        Download-->
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-movie {{view}}" id="showMoreItems" ng-show="hasMoreItemsToShow()" ng-click="showMoreItems()">
        ne
        <div class="movie-banner">



            <!--<img ng-src="https://image.tmdb.org/t/p/w500/{{movie.movieInfo.poster_path}}" class="img-responsive" />
            <p>{{movie.movieInfo.title}}</p>-->
            <!--<time class="timeago" title="Posted On {{movie.createdDate | date:'medium'}}">{{movie.createdDate}}</time>
            <button ng-click="movie.$remove(post)">Delete Message</button>-->
        </div>
    </div>
</div>
